
<!DOCTYPE html>
<html lang="zxx">

<head><title>Digital Gram Panchayat</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Toon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900" rel="stylesheet">
   <style>
  {% include 'css/style.css' %}
  {% include 'css/bootstrap.css' %}
  {% include 'css/font-awesome.css' %}
  </style>

</head>

<body>
    <!-- mian-content -->
    <section class="main-content" id="home">

        <!-- header -->
        <header>
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav>
                    <div class="logo-w3ls" id="logo-w3ls">
                        <h1> <a href="#"><span>Digital Gram Panchayat</span></a>
                        </h1>

                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu">
                       {% include 'menu/indexmenu.html' %}
                    </ul>
                </nav>
                <!-- //nav -->
                <!-- //nav -->
            </div>
        </header>
        <!-- banner-text-wthree -->
        <div class="page-inner">

        </div>
        <!---->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">Admin</li>
        </ol>
        <!---->
        <!--// banner-inner -->
    </section>
    <!--/ab -->
  
                <h3  align="center">Admin Login</h3>
                <form action="admin_log" method="post" enctype="multipart/form-data" name="form1"> 
                    <div class="form-group">
                        
                       
               
                    <table width="423" height="195" border="0" align="center">
                      <tr>
                        <td>Username</td>
                        <td> <input type="username" class="form-control" id="exampleInputEmail1" name="uname"  placeholder="" required="">
</td>
                      </tr>
                      <tr>
                        <td>Password</td>
                        <td><input type="password" class="form-control" id="exampleInputPassword1" name="pass" placeholder="" required=""></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td><label>
                          <input name="btn" type="submit" id="btn" value="Login"><!--<a href="#" data-toggle="modal" data-target="#exampleModalCenter2"> Don't have an account?</a> -->
                        </label></td>
                      </tr>
                    </table>
                    <p class="text-left pb-4">&nbsp;</p>
                </form>
   
    <!-- //ab -->
    <!-- services  -->
    
    <!-- services -->

    <!--/counter-->
  
    <!--//counter-->


    <!--/ab -->
   
    <!-- newsletter -->
   
    <!-- //newsletter -->

    <!--/sponsors-->
    
    <!-- //sponsors -->
    <!--/footer-->
    <footer class="footer">
        <div class="container-fluid p-lg-5 p-md-3">

            <div class="row py-sm-4 py-3">
                

               
               
               
            </div>
            <hr>
            <div class="d-flex justify-content-between pt-lg-3  footer-bottom-cpy">
                <div class="copy-right">
                    <p>© 2021. All rights reserved | Design by <a href="#"> Admin </a>

                    </p>
                </div>
                <div class="social-content pb-md-0 pb-4">
                    <ul class="social-icons text-center d-flex">
                      

                    </ul>


                </div>
            </div>
            <div class="text-right mt-3">
                <a href="#home" class="move-top scroll"><span class="fa fa-angle-up" aria-hidden="true"></span></a>
            </div>
        </div>
    </footer>
    <!-- popup-login-->
    <div id="login" class="pop-overlay animate">
        <div class="popup">
            


            <a class="close" href="#gallery">&times;</a>
        </div>
    </div>
    <!--// popup-login-->
    <!-- popup-login-->
    <div id="register" class="pop-overlay animate">
        <div class="popup">
            <div class="login px-4 mx-auto mw-100">
                <h5 class="text-left mb-4">Register Now</h5>
                <form action="#" method="post">
                    <div class="form-group">
                        <label>First name</label>

                        <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                    </div>

                    <div class="form-group">
                        <label class="mb-2">Password</label>
                        <input type="password" class="form-control" id="password1" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" id="password2" placeholder="" required="">
                    </div>

                    <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                    <p class="text-left pb-4">
                        <a href="#">By clicking Register, I agree to your terms</a>
                    </p>
                </form>

            </div>

            <a class="close" href="#gallery">&times;</a>
        </div>
    </div>
    <!--// popup-login-->
    <!--//footer-->

</body>

</html>
