<nav class="sidebar">
    <div class="logo-container">
        <h1>Digital<span class="sublog">Gram Panchayat</span></h1>
    </div>
    <ul class="nav-menu">
        <li class="nav-item">
            <a class="nav-link" href="/admin_home">
                <i class="fas fa-home"></i>Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin_add_pdo">
                <i class="fas fa-user-plus"></i>Add PDO
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin_pdo_details">
                <i class="fas fa-users"></i>PDO Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin_view_user">
                <i class="fas fa-user-friends"></i>View Users
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin_add_scheme">
                <i class="fas fa-file-alt"></i>Add Scheme
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin_view_request">
                <i class="fas fa-envelope"></i>View Requests
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin_news">
                <i class="fas fa-paper-plane"></i>Post News
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin_add_candidate">
                <i class="fas fa-box"></i> Voting System
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-sign-out-alt"></i>Logout
            </a>
        </li>
    </ul>
</nav>
